<section class="stats">
  <chart
    [lineChartData]="lineChartData"
    [lineChartLabels]="lineChartLabels"
    [lineChartOptions]="lineChartOptions"
    [lineChartLegend]="lineChartLegend"
    [lineChartType]="lineChartType"
    [lineChartPlugins]="lineChartPlugins"
  >
  </chart>

  <chart
    [lineChartData]="lineChartDataSecond"
    [lineChartLabels]="lineChartLabels"
    [lineChartOptions]="lineChartOptions"
    [lineChartLegend]="lineChartLegend"
    [lineChartType]="lineChartType"
    [lineChartPlugins]="lineChartPlugins"
  >
  </chart>
</section>
