<section class="move-list">
  <div class="home-page">
    <h1 class="text-gradient" *ngIf="user.moves.length; else noTransfers">
      {{ contact ? "Transfer history" : "Last Transactions" }}
    </h1>
    <ul>
      <div class="move" *ngFor="let move of moves">
        <div *ngIf="move.toId === contact?._id; else elseStatement">
          <span> {{ move.at | dateDesc }} </span>
          <span>Transfered {{ move.amount }} coins </span>
          <span> To: {{ move.to }} </span>
        </div>
        <ng-template #elseStatement>
          <div>
            <span> {{ move.at | dateDesc }} </span>
            <span>Transfered {{ move.amount }} coins </span>
            <span> To: {{ move.to }} </span>
          </div>
        </ng-template>
      </div>
    </ul>
    <ng-template #noTransfers>
      <h3 class="text-gradient">No Transfers</h3>
    </ng-template>
  </div>
</section>
