<section class="move-list">
  <div class="home-page">
    <h1 class="text-gradient" *ngIf="moves?.length">Transfer history</h1>
    <ul class="" *ngIf="moves?.length">
      <div class="h4" *ngFor="let move of moves">
        <span> {{ move.at | dateDesc }} </span>
        <span>Transfered {{ move.amount }} coins </span>
        <span> To: {{ move.to }} </span>
      </div>
    </ul>
    <ng-template>
      <h3 class="text-gradient" #noTransfers>No Transfers</h3>
    </ng-template>
  </div>
</section>
