<section *ngIf="contact" class="contact-edit">
  <h2 class="text-gradient">{{ contact._id ? "Edit" : "Add" }} Contact</h2>
  <form (ngSubmit)="onSaveContact()">
    <div class="form-item">
      <label for="name">Name</label>
      <input
        [(ngModel)]="contact.name"
        type="text"
        name="name"
        id="name"
        placeholder="Example: Yona Shcitrit"
        pattern="[a-zA-Z]"
      />
    </div>
    <div class="form-item">
      <label for="phone">Phone</label>
      <input
        [(ngModel)]="contact.phone"
        placeholder="Example: 555-5555-5555"
        type="text"
        name="phone"
        id="phone"
      />
    </div>
    <div class="form-item">
      <label for="email">Email</label>
      <input
        [(ngModel)]="contact.email"
        placeholder="Example: name@gmail.com"
        type="email"
        name="email"
        id="email"
      />
    </div>

    <button class="btn active">Save</button>
  </form>
  <a routerLink="{{ '/contact' }}" class="btn go-back"
    ><mat-icon>arrow_back</mat-icon></a
  >
</section>
