.contact-details {
  width: min-content;
  margin: 0 auto calc(2rem + 12px);
  > * {
    margin-bottom: 1rem;
  }
  h3 {
    margin: 1rem 0;
  }
  img {
    height: 250px;
  }
  .actions {
    display: flex;
    & > :first-child {
      margin-inline-end: 9rem;
    }
    > * {
      padding: 0.3rem;
      width: 36.92px;
    }
  }
}
