<section *ngIf="contact" class="contact-details">
  <div class="info flex column">
    <h3>Name: {{ contact.name }}</h3>
    <h3>Email: {{ contact.email }}</h3>
    <h3>Phone: {{ contact.phone }}</h3>
  </div>
  <div class="img-container">
    <img src="https://robohash.org/{{ contact._id }}?set=set2" alt="" />
  </div>
  <transfer-fund [contact]="contact"></transfer-fund>
  <move-list [contact]="contact" [user]="user"></move-list>
  <div class="actions">
    <button
      class="btn active"
      routerLink="{{ '/contact/edit/' + contact._id }}"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button class="btn go-back" (click)="onBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
</section>
