<section
  routerLink="{{ '/contact/' + contact._id }}"
  class="contact-preview gradient"
>
  <section class="info">
    <section class="data">
      <p>Name: {{ contact.name }}</p>
      <p>Email: {{ contact.email }}</p>
      <p>Phone: {{ contact.phone }}</p>
    </section>
    <section class="actions">
      <button (click)="onRemoveContact()" class="remove-btn">X</button>
      <button
        routerLink="{{ '/contact/edit/' + contact._id }}"
        class="remove-btn"
      >
        Edit
      </button>
    </section>
  </section>
  <img
    style="width: 100px"
    src="https://robohash.org/{{ contact._id }}?set=set2"
  />
</section>
