.main-app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: whitesmoke;
    margin-bottom: 2rem;
    font-size: 1.2em;
    ul {
      img {
        width: 24px;
      }
      a {
        padding: 0.6rem;
        transition: 0.3s border;
      }
      a:hover {
        color: #000;
        cursor: pointer;
        border-radius: 0;
        border-bottom: 1px #0008 solid;
        opacity: 0.7;
      }
    }
  }

  main {
    flex-grow: 1;
  }

  footer {
    height: 80px;
    display: flex;
    align-items: center;
    color: whitesmoke;
    background-color: #151515;
    font-size: 1.2em;
  }
}
