<section class="main-app">
  <header class="container gradient">
    <h1>Mister Bitcoin</h1>
    <nav>
      <ul>
        <a title="Home" routerLink="/">
          <img src="../../assets/imgs/home.png" alt="" />
        </a>
        <a title="Contacts" routerLink="/contact">
          <img src="../../assets/imgs/users.png" alt="" />
        </a>
        <a title="Statistics" routerLink="/stats">
          <img src="../../assets/imgs/increase.png" alt="" />
        </a>
        <a title="Logout" (click)="logout()"
          ><mat-icon>exit_to_app</mat-icon></a
        >
      </ul>
    </nav>
  </header>

  <main class="container">
    <router-outlet></router-outlet>
  </main>

  <footer class="container">
    <p>MisterBitcoin &copy; 2022</p>
  </footer>
</section>
