/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  object-fit: cover;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  cursor: pointer;
}

.container {
  padding-inline: 10vw;
}
