/* You can add global styles to this file, and also import other style files */
$primary: #f38e82;
$grad-color-1: #fbdb89;
$grad-color-2: #f48982;
$gradient: linear-gradient(to right bottom, $grad-color-1, $grad-color-2);

body {
  scrollbar-width: thin;
  scrollbar-color: $primary #eeee;
  &::-webkit-scrollbar {
    width: 8px;
    &-thumb {
      background-color: $primary;
      border-radius: 100px;
      border: 1px none #ffffff;
    }
    &-track {
      background-color: #eeee;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 3px;
}

body {
  background: #eeee;
}

html {
  scroll-behavior: smooth;
}

img {
  object-fit: cover;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 0.6rem;
  &:hover {
    opacity: 0.7;
    background: #0008;
    color: #fff;
  }
  &.active {
    background-image: $gradient;
    color: #fff;
  }
}

.container {
  padding-inline: 10vw;
}

input {
  padding: 0.8rem;
  border: none;
  font-size: 1rem;
  outline: 3px solid #eee;
  &:focus-visible {
    border: #81acedaa;
    outline-color: #81acedaa;
  }
  &[placeholder] {
    font-size: 1rem;
  }
}

.gradient {
  background-image: $gradient;
}
.bg-primary {
  background-color: $primary;
}
.text-primary {
  color: $primary;
}
.text-gradient {
  // background: $gradient;
  background: -webkit-linear-gradient(#f48982, #fba860);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.go-back {
  background-color: #fff;
  &:hover {
    background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
    color: #fff;
  }
}

@media screen and(max-width:850px) {
  .container {
    padding-inline: 5vw;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
