.contact-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.4rem;
  margin: 2rem 0;

  contact-preview {
    &:nth-child(3n) {
      justify-self: end !important;
    }
    &:nth-child(3n + 2) {
      justify-self: center;
    }
  }
}
